{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >

<form method="post">
    {% csrf_token %}
    {% for fm in blog %}
    <table style="width:100% border:2px">
        <tr>
  <tb style="color:green">{{fm.Title}} </tb>



            <tb style="color:blue">{{fm.Description}}  </tb>
             </tr>
        </table>
    <a href="/edit/{{fm.id}}">edit</a>
    <a href="/delete/{{fm.id}}">delete</a>


    {% endfor %}


</form>

</body>
</html>

{% endblock %}