<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Carousel Example</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
     <div class="carousel-inner">

    		<div class="item active">
    		  <img src="https://ojas-it.com/media/slides/original/Slide1_404.jpg" width="100%">
    		  <div class="carousel-caption">
    			 <h1>Mobile App Development & Testing</h1>
    		  </div>
    		</div>


    		<div class="item ">
    		  <img src="https://ojas-it.com/media/slides/original/slide1_177.jpg" width="100%">
    		  <div class="carousel-caption">
    			 <h1>Smart Approach for IDM to secure your IT environment</h1>
    		  </div>
    		</div>


    		<div class="item ">
    		  <img src="https://ojas-it.com/media/slides/original/slide2_7.jpg" width="100%">
    		  <div class="carousel-caption">
    			 <h1>Resource on Demand - Excellence at all levels</h1>
    		  </div>
    		</div>


    		<div class="item ">
    		  <img src="https://ojas-it.com/media/slides/original/slide3_646.jpg" width="100%">
    		  <div class="carousel-caption">
    			 <h1>Staff Augmentation</h1>
    		  </div>
    		</div>


    		<div class="item ">
    		  <img src="https://ojas-it.com/media/slides/original/slide4_401.jpg" width="100%">
    		  <div class="carousel-caption">
    			 <h1>IT Services Application Development</h1>
    		  </div>
    		</div>

  	           </div>

</body>
</html>
